.container {
  position: relative;
  width: 50%;
}

.input {
  width: 100%;
  padding: 2vh 1vw;
  padding-right: 40px; /* Espaço para o botão */
  box-sizing: border-box;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s;
  font-weight: 600;
}

.input:focus {
  outline: none;
  background-color: #d9d9d9;
}

.button {
  position: absolute;
  border-radius: .5rem;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #005cff;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
}

.icon {
  font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
  .container {
    width: 55vw;
  }

  .input {
    padding: 2.2vh 1.5vw;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 90%;
  }
}